/* .wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 4.5;
}

.leftContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
}

.rightContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
} */

.container {
    position: relative;
    aspect-ratio: 16 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: block;
    position: absolute;
    z-index: 2;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
}

.wrapper {
    position: absolute;
    inset: 0;
    z-index: 1;
    transition: clip-path 250ms ease;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.container:hover .wrapper {
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
}

.peekContainer {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.peekWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.peekButton {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    background-color: #00a2f2;
    border: 2px solid white;
    box-shadow: 0.25rem 0.25rem 0.25rem black;
}